#mainDivEditMeeting{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  text-align: center;
  color:darkorange;
  margin-top:0;
}

#lblEditMeeting1{
  padding-right:3.5vw;
  font-size:large;
  font-weight:bold;

}
#lblEditMeeting2{
  padding-right:5vw;
  font-size:large;
  font-weight:bold;

}
#lblEditMeeting3{
  padding-right:1.25vw;
  font-size:large;
  font-weight:bold;

}
#lblEditMeeting4{
  padding-right:1.5vw;
  font-size:large;
  font-weight:bold;

}
#lblEditMeeting5{
  padding-right:1vw;
  margin-right:3.3vw;
  font-size:large;
  font-weight:bold;
}
#lblEditMeeting6{
  padding-right:2.25vw;
  margin-right:2.8vw;
  font-size:large;
  font-weight:bold;

}
#lblEditMeeting7{
  padding-right:2.25vw;
  margin-right:2.8vw;
  font-size:large;
  font-weight:bold;

}


#inpEditMeeting1{

  width:15vw;
  height:5vh;
}

#inpEditMeeting2{
  width:15vw;
  height:5vh;
 margin-left:10px;
}

#inpEditMeeting3{

  width:15vw;
  height:5vh;
  margin-left:1.5vw;
}

#inpEditMeeting4{
  width:15vw;
  height:5vh;
 margin-left:1.5vw;

}

#inpEditMeeting5{
  width:15vw;
  height:5vh;

}
#inpEditMeeting6{

  width:15vw;
  height:5vh;
}
#inpEditMeeting7{

  width:15vw;
  height:5vh;
}

#spanUpdateMeet{
color:aqua;
margin-left:11vw;

}

#editMeetSubmit{
  margin-top:25px;
  width:13vw;
  height:5vh;
  background-color: deeppink;
  color:greenyellow;
  font-size:larger;
  font-weight:bold;
  margin-left:1vw;
  padding-bottom:20px;
}


#editMeetCancel{
  margin-top:25px;
  width:11vw;
  height:5vh;
  background-color: deeppink;
  color:greenyellow;
  font-size:larger;
  font-weight:bold;
  margin-left:1vw;
  padding-bottom:20px;
}


h1{
  justify-content: center;
  text-align: center;
  color:greenyellow;
  padding-top:10vh;

}
h2{
  justify-content: center;
  text-align: center;
  color:deeppink;


}



