<div id="mainDivAdmin">
  <h1>Anna Client Management-Meeting Scheduler</h1>
  <h2>Choose Your Option From Below.You Must Have Admin Rights To Go Further</h2>
 <button id="createClientBtn" class="btnAdmin"><a routerLink="/createClient" class="anchorAdmin">Create A Client</a></button><br/><br/>
 <button id="scheduleMeetBtn" class="btnAdmin"><a routerLink="/scheduleMeet" class="anchorAdmin">Schedule A Meeting</a></button><br/><br/>
 <button  id="updateBtn" class="btnAdmin"><a routerLink="/editCancelMeet" class="anchorAdmin">Edit/Cancel A Meeting</a></button><br/><br/>
 <button  id="logoutBtn" class="btnAdmin"><a routerLink="/logout" class="anchorAdmin">Logout</a></button><br/><br/>




</div>

